:host {
  display: flex;
  width: 100%;
  min-height: 90vh;
  background-color: var(--background);
  color: var(--on-surface);
  font-family: var(--font-sans);
  font-size: var(--body-lg-size);
  box-sizing: border-box;
}

.angular-mkt-container {
  width: 100%;
  max-width: 100rem;
  box-sizing: border-box;
  padding: var(--margin-mobile);
  margin: 0 auto;
  padding-top: var(--spacing-xl);
}

@media (min-width: 48rem) {
  .angular-mkt-container {
    padding: var(--spacing-xl) var(--margin-desktop);
  }
}
