:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--marble-bg);
  text-align: center;
  padding: 2rem;
}

.container {
  /* Animazione per far apparire la pagina dolcemente */
  animation: fadeIn 0.8s ease-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.btn-test button {
  margin: 10px;
}

/* Titolo 404 in stile Monoton o Playfair */
.title {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: clamp(3rem, 10vw, 5rem);
  color: var(--text-dark);
  margin-bottom: 10px;
  letter-spacing: -2px;
  span {
    font-family: 'Monoton', sans-serif;
    font-size: clamp(3rem, 10vw, 5rem);
  }
}

/* Sottotitolo elegante */
.subtitle {
  font-style: italic;
  font-size: 1.4rem;
  color: var(--gold-primary);
  margin-bottom: 20px;
}

.form-field {
    padding: 10px;
}

table tr th td{
    border: 1px;
}

/* Animazione fluida */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
