<article class="museum-card" (click)="onCardClick()">

  <!-- Immagine -->
  <div class="card-image-wrapper">
    <img [alt]="museum().name" [src]="getImageUrl()" class="card-img">
    <app-badges-list
      [disableFriendly]="museum().disableFriendly"
    ></app-badges-list>
  </div>

  <!-- Contenuto -->
  <div class="card-content">
    <!-- Header: Nome a sinistra, Città a destra (al posto del prezzo) -->
    <header class="card-header">
      <h3 class="card-title">{{ (museum().name | truncate:50)}}</h3>
      <span class="card-city">
        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="currentColor">
          <path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-75.5-184.5T480-812q-89 0-164.5 75.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/>
        </svg>
        {{ museum().city }}
      </span>
    </header>

    <!-- Descrizione -->
    <p class="card-desc">{{ museum().description | truncate: 300}}</p>
  </div>
</article>
