<main class="home-container">

  <!-- Sezione Benvenuto -->
  <section class="hero-section">
    <h1 class="hero-title">
      ArtAround
    </h1>
    <p class="hero-desc">
      @if (authService.currentUser()?.name; as name) {
        @switch (authService.currentUser()?.gender) {
          @case ('f') {
            Bentornata, <strong>{{ name }}</strong>, cosa vuoi fare oggi?
          }
          @case ('m') {
            Bentornato  , <strong>{{ name }}</strong>, cosa vuoi fare oggi?
          }
          @case ('other') {
            Bentornat*, <strong>{{ name }}</strong>, cosa vuoi fare oggi?
          }
          @default {
            Bentornat*, <strong>{{ name }}</strong>, cosa vuoi fare oggi?
          }
        }
      } @else {
        @switch (authService.currentUser()?.gender) {
          @case ('f') {
            Pronta a scoprire qualcosa di nuovo? La tua visita personalizzata ti aspetta.
          }
          @case ('m') {
            Pronto a scoprire qualcosa di nuovo? La tua visita personalizzata ti aspetta.
          }
          @case ('other') {
            Pront* a scoprire qualcosa di nuovo? La tua visita personalizzata ti aspetta.
          }
          @default {
            Pront* a scoprire qualcosa di nuovo? La tua visita personalizzata ti aspetta.
          }
        }
      }
    </p>
  </section>

  <!-- Sezione Centrale Dinamica -->
  <section class="main-section">
    @if (authService.currentVisit(); as visit) {
      <!-- Layout con Visita Attiva (Bento Grid asimmetrica) -->
      <div class="active-grid">

        <!-- Card Continua Visita -->
        <div class="card active-card cursor-pointer">
          <div class="card-img-wrap">
            <img class="card-img" [src]="'/assets/images/place_holder.jpg'" [alt]="visit?.title">
            <div class="badge">
              <span class="pulse"></span>
              <span>Visita Attiva</span>
            </div>
          </div>
          <div class="card-body">
            <div class="card-subtitle">
              <svg class="small-svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                <path d="M536.5-503.5Q560-527 560-560t-23.5-56.5Q513-640 480-640t-56.5 23.5Q400-593 400-560t23.5 56.5Q447-480 480-480t56.5-23.5ZM480-186q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/>
              </svg>
              <span>{{ "Location TODO" }}</span>
            </div>
            <h2 class="card-title">{{visit.title}}</h2>
            <p class="card-text">
              Hai messo in pausa la guida audio vicino all'opera <strong>{{ "Current Artwork TODO"}}</strong>. Riprendi per ascoltare il commento.
            </p>

            <div class="btn-container">
              <a class="btn btn-primary" href="/TODO">
                <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                  <path d="M320-200v-560l440 280-440 280Zm80-280Zm0 134 210-134-210-134v268Z"/>
                </svg>
                Riprendi Visita
              </a>
            </div>
          </div>
        </div>

        <!-- Azioni Rapide (Stack laterale) -->
        <div class="quick-stack">
          <a class="card quick-card" routerLink="/marketplace/visit/search">
            <div class="quick-icon text-secondary">
              <svg class="card-svg" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                <path d="m600-120-240-84-186 72q-20 8-37-4.5T120-170v-560q0-13 7.5-23t20.5-15l212-72 240 84 186-72q20-8 37 4.5t17 33.5v560q0 13-7.5 23T812-192l-212 72Zm-40-98v-468l-160-56v468l160 56Zm80 0 120-40v-474l-120 46v468Zm-440-10 120-46v-468l-120 40v474Zm440-458v468-468Zm-320-56v468-468Z"/>
              </svg>
            </div>
            <div>
              <h3>Pianifica Visita</h3>
              <p>Trova o crea una visita</p>
            </div>
            <svg class="card-svg arrow" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
          </a>

          <a class="card quick-card" routerLink="/marketplace">
            <div class="quick-icon text-primary">
              <svg class="card-svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                <path d="m300-300 280-80 80-280-280 80-80 280Zm180-120q-25 0-42.5-17.5T420-480q0-25 17.5-42.5T480-540q25 0 42.5 17.5T540-480q0 25-17.5 42.5T480-420Zm0 340q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Zm0-320Z"/>
              </svg>
            </div>
            <div>
              <h3>Esplora Guide</h3>
              <p>Sfoglia tour audio e visivi curati per te.</p>
            </div>
            <svg class="card-svg arrow" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
          </a>
        </div>

      </div>
    } @else {
      <!-- Layout Alternativo: Senza visita attiva (Card grandi e centrali) -->
      <div class="empty-grid">
        <a class="card large-card visit-card" routerLink="/marketplace/visit/search">
          <div class="quick-icon text-secondary">
            <svg class="card-svg" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
              <path d="m600-120-240-84-186 72q-20 8-37-4.5T120-170v-560q0-13 7.5-23t20.5-15l212-72 240 84 186-72q20-8 37 4.5t17 33.5v560q0 13-7.5 23T812-192l-212 72Zm-40-98v-468l-160-56v468l160 56Zm80 0 120-40v-474l-120 46v468Zm-440-10 120-46v-468l-120 40v474Zm440-458v468-468Zm-320-56v468-468Z"/>
            </svg>
          </div>
          <div class="large-card-content">
            <h2>Pianifica una Visita</h2>
            <p>Sfoglia l'elenco delle visite disponibili oppure creane una <strong> su misura a </strong> per te</p>
          </div>
          <svg class="card-svg arrow" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
        </a>

        <a class="card large-card" href="/marketplace">
          <div class="quick-icon text-primary">
            <svg class="card-svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
              <path d="m300-300 280-80 80-280-280 80-80 280Zm180-120q-25 0-42.5-17.5T420-480q0-25 17.5-42.5T480-540q25 0 42.5 17.5T540-480q0 25-17.5 42.5T480-420Zm0 340q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Zm0-320Z"/>
            </svg>
          </div>
          <div class="large-card-content">
            <h2>Esplora le Guide</h2>
            <p>Sfoglia il catalogo completo di tour audio e percorsi tematici guidati dai nostri esperti storici dell'arte e dalla nostra community.</p>
          </div>
          <svg class="card-svg arrow" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
        </a>
      </div>
    }
  </section>

  <!-- Sezione Mostre Consigliate (Carosello Orizzontale) -->
  <section class="section-carousel">
    <app-carousel
      title="Mostre Consigliate"
      [items]="recommendedExhibitions()"
      [isLoading]="isLoadingVisits()"
    >
    </app-carousel>
  </section>

  <app-card-grid
    [length]="allMuseums().length || 0"
    [isLoading]="isLoadingMuseums()"
  >
    @for (museum of allMuseums(); track museum.id) {
      <app-museum-card [museum]="museum" > </app-museum-card>
    }
  </app-card-grid>
</main>
