<article class="visit-card" (click)="onCardClick()">
  <!-- Immagine e Badge in alto a destra -->
  <div class="card-image-wrapper">
    <img [alt]="visit().title" [src]="visit().imageUrls[0]" class="card-img">
    <app-badges-list
      [disableFriendly] = "visit().disableFriendly"
      [free] = "(visit().cost == 0)"
      [verified]="visit().isVerified"
    >
    </app-badges-list>
  </div>

  <!-- Contenuto -->
  <div class="card-content">

    <!-- Header: Titolo a sinistra, Prezzo a destra -->
    <header class="card-header">
      <h3 class="card-title">{{ visit().title }}</h3>
      <span class="card-price">
        {{ (visit().cost == 0) ? 'Gratis' : '€' + (visit().cost) }}
      </span>
    </header>

    <!-- Descrizione -->
    <p class="card-desc">{{ visit().description }}</p>

    <!-- Tags in fondo (Durata, Audio, ecc.) -->
    <footer class="card-tags">
      <span class="tag accent"> {{ formatedDuration() }} </span>
    </footer>

  </div>
</article>
