<article
  class="visit-card"
  role="button"
  tabindex="0"
  (click)="onCardClick()"
  (keydown.enter)="onCardClick()"
  (keydown.space)="onCardClick(); $event.preventDefault()"
  [attr.aria-label]="'Dettagli della visita: ' + visit().title + ', prezzo ' + ((visit().price == 0) ? 'gratis' : visit().price + ' euro') + ', durata ' + formatedDuration()"
>
  <!-- Immagine e Badge in alto a destra -->
  <div class="card-image-wrapper">
    <img [alt]="'Immagine per la visita ' + visit().title" [src]="imageUrl()" class="card-img">
    <app-badges-list
      [disableFriendly] = "visit().disableFriendly || false"
      [free] = "(visit().price === 0)"
      [verified]="visit().isVerified || false"
    >
    </app-badges-list>
  </div>

  <!-- Contenuto -->
  <div class="card-content">

    <!-- Header: Titolo a sinistra, Prezzo a destra -->
    <header class="card-header">
      <h3 class="card-title">{{ visit().title }}</h3>
      <span class="card-price">
        {{ (visit().price == 0) ? 'Gratis' : '€' + (visit().price) }}
      </span>
    </header>

    <!-- Descrizione -->
    <p class="card-desc">{{ visit().description }}</p>

    <!-- Tags in fondo (Durata, Audio, ecc.) -->
    <footer class="card-tags">
      <span class="tag accent" [attr.aria-label]="'Durata: ' + formatedDuration()"> {{ formatedDuration() }} </span>
    </footer>

  </div>
</article>
