<nav aria-label="Menu principale">
  <ul role="list">
    <li>
      <a href="/marketplace/marketplace.html"> Marketplace </a>
    </li>
    @for (item of navItems; track item.label) {
      <li>
        @if (isSPA) {
          <a
            [routerLink]="item.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: item.path === '/' }"
          >{{ item.label }}</a>
        } @else {
          <a [href]="item.path">{{ item.label }}</a>
        }
      </li>
    }
  </ul>
</nav>
